<configuration>
<connectionStrings>
    <add name="FilmDB" 
    connectionString="Server=127.0.0.7; port=5433; user id=Admin; password=eiP238pS; database=FilmDB;"
    providerName="Npgsql"/>
</connectionStrings>
    <appSettings>
        <add key="X-API-KEY" value="DREBA3P-RJZ4VTT-QWJWKHS-9WC0B1T"/>
    </appSettings>
</configuration>